@font-face {
  font-family: Helvetica;
  src: url(/font/Helvetica-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Helvetica;
  src: url(/font/Helvetica);
}
@font-face {
  font-family: Helvetica;
  src: url(/font/Helvetica-Oblique.ttf);
  font-style: italic;
}
@font-face {
  font-family: Helvetica;
  src: url(/font/Helvetica-BoldOblique.ttf);
  font-weight: bold;
  font-style: italic;
}
